@using DotechRewards.Models
@model Evento
@{
    ViewBag.Title = "Perfil";
    UsuarioModel bannerP = null;
    string user = "", idUsr = "", estatus = "";
    int admin = -1;
    bool activo = true;
    //int index = 0;
    int res = 0;
    string pathCatalogoH = ViewBag.pathCatalogo;
    try
    {
        user = HttpContext.Current.Session["nombre"].ToString();
        idUsr = HttpContext.Current.Session["user"].ToString();
        admin = Convert.ToInt32(HttpContext.Current.Session["admin"].ToString());
        bannerP = new UsuarioModel();
        bannerP.getBanner(idUsr);
        bannerP.getRecompensa();
        bannerP.getEventos(idUsr);
        bannerP.getTotalPuntos(idUsr);
        bannerP.getActivacionStatus(idUsr);
        res = bannerP.recompensas.Count;
        res = res > 4 ? (bannerP.recompensas.Count / 4) + 1 : 1;

        for (int i = 0; i < bannerP.banners.Count; i++) {
            bannerP.banners[i].fecha = bannerP.banners[i].fecha.Remove(10);
        }
    }
    catch (Exception ex)
    {
        //Mientras que no me jala
        user = "Emelita Ponderosa Soto Gamma";
        idUsr = "1";
        admin = 1;
        bannerP = new UsuarioModel();
        /*new banner("mPlaceholder4.jpg", "La torre avalanz", "2020-02-28 10:00:00 a.m.", "Aquí", 1),*/
        bannerP.banners = new List<banner> {  new banner("mPlaceholder5.jpg", "La otra torre avalanz", "2020-02-28 10:00:00 a.m.", "Allá", 2) };

        bannerP.banners[0].fecha = bannerP.banners[0].fecha.Remove(10);  ///.Remove(10);
        //new banner("mPlaceholder2.jpg", "El banner 2", "2020-02-28", "Allá", 1)
        bannerP.puntos = 100;
        bannerP.recompensas = new List<recompensa> {
            new recompensa("Jenga", "El juego de apilar bloques", 100, "mPlaceholder1.jpg"),
            new recompensa("Monopoly", "El juego de comprar propiedades", 1241, "mPlaceholder2.jpg"),
            new recompensa("Buscaminas", "No es un juego de mesa pero que tiene", 39, "mPlaceholder3.jpg"),
            new recompensa("Matatena", "La verdad no se qué sea", 76, "mPlaceholder4.jpg"),
            //new recompensa("Mario Kart", "Un juego de carreras emocionante", 3201, "placeholder1.jpg")
        };
        res = bannerP.recompensas.Count;
        res = res > 4 ? (bannerP.recompensas.Count / 4) + 1 : 1;

        bannerP.estatus = 1;
        bannerP.eventos = new List<Evento> {
            new Evento("2020-03-10", "Dotech Rewards 1", 100),
            new Evento("2020-03-10", "Dotech Rewards 2", 120),
            new Evento("2020-03-10", "Dotech Rewards 3", 130),
            new Evento("2020-03-10", "Dotech Rewards 1", 100),
            new Evento("2020-03-10", "Dotech Rewards 1", 100)
        };
        //{ Response.Redirect("~/"); }
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/js/Usuario.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<link href="~/Content/css/card.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/global.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="~/Content/css/style.css" rel="stylesheet">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/js.js"></script>
<link href="~/Content/css/style.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<nav class="d-none d-lg-flex navbar navbar-light nav-propierties justify-content-between">
    <img src="~/Content/images/login_reward.png" width="190" height="80" class="d-inline-block align-top img--header" alt="" style="margin:0px;padding-left:18px;" />
    <ul class="nav navbar-nav navbar-fixed-top" style="font-weight:normal;">
        <li>
            <a style="font-size: 20px; margin-right: 18px;"> @user</a>
        </li>
        <div class="d-flex justify-content-end" style="margin-left: -120px;">
            @if (admin == 1)
            {
                <a href="@Url.Action("Index", "Admin")" class="span-menu span-menu--blue">Panel administración</a>
            }
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="span-menu span-menu--blue" style="color: royalblue; cursor: pointer; font-size: 14px; margin-top:4px;">Cambiar contraseña</a>
            <a href="@Url.Action("LogOff", "Home")" class="span-menu span-menu--black">Salir</a>
        </div>
    </ul>
</nav>

<nav class="d-flex d-lg-none navbar navbar-light nav-propierties justify-content-between" style="background-color:#C00000; min-height: 2.5em;">
    <span style="color:white; letter-spacing:12px; margin-left:16px;">REWARDS</span>
    <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="fas fa-bars" style="color:white; font-size:24px; margin-right:16px;" title=""></i>
    </a>
</nav>

@*Menu responsivo*@
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left:10px;margin-right:10px;">
    <ul class="nav navbar-nav">
        <li>
            <a style="font-size: 20px; margin-right: 18px;"> @user</a>
        </li>
        @*@if (admin == 1)
        {
            <li><a href="@Url.Action("Index", "Admin")" class="span-menu span-menu--blue">Panel administración</a></li>
        }*@
        <li><a href="#" data-toggle="modal" data-target="#exampleModal" class="span-menu span-menu--blue" style="color: royalblue; cursor: pointer; font-size: 14px; margin-top:4px;">Cambiar contraseña</a></li>
        <li><a href="@Url.Action("LogOff", "Home")" class="span-menu span-menu--black">Salir</a></li>
    </ul>
</div>


<div class="container-fluid" style="padding-right:50px; padding-left:50px;">
    <div class="row justify-content-between" style="padding-top:1em; padding-bottom:1em;">

        <div class="col-12 col-lg-4 justify-content-lg-start justify-content-center" style="display:flex; flex-direction:row;">
            <div style="display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
                <!--margin-top:20px; font-family:sans-serif;-->
                <h2 style="width:100%; text-align:center;">Actualmente cuentas con:</h2>
                <div>
                    <span style="font-size: 4em; font-weight:700;">@string.Format("{0:#,0}", bannerP.puntos)</span><span style="font-size:1em; font-weight:700;">Puntos</span>
                </div>
                <a class="" target="_blank" href="~/Content/Manual_Canje/manual.pdf" style="color: black; font-size:1.5em;">Canjea tus puntos</a>
            </div>
        </div>
        
        <div class="col-12 d-flex d-lg-none">
            <div style="height:24px;"></div>
        </div>


        <div class="col-12 col-lg-8 table-responsive" style="display:flex; flex-direction:column; justify-content:space-between; overflow-y:hidden">
            <div class="form-group" style="display:none;">
                <!--		Show Numbers Of Rows 		-->
                <select class="form-control" name="state" id="maxRows" style="display: none;">
                    <option value="5000">Show ALL Rows</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>

            <table class="table table-striped table-class" id="table-id" style="height:100%;">

                @if (bannerP.estatus == 1)
                {
                    <tr>
                        <td width="100%" style="text-align: center; font-size: 30px; color:gray">Para activar tu puntos de bienvenida <a href="@Url.Action("activarPuntos", "Usuario", new { usuario = idUsr })">haz click aquí</a></td>
                    </tr>
                }
                else
                {
                    float events = bannerP.eventos.Count;
                    for (int i = 0; i < 3; i++)
                    {
                        double vars = (events / 4.0);
                        if (vars % 1 == 0)
                        {
                            break;
                        }
                        else
                        {
                            events++;
                            bannerP.eventos.Add(new Evento("", "", 0));

                        }
                    }
                    <tr style="color:gray!important; border-top: 2px solid white !important;">
                        <th>Fecha</th>
                        <th>Actividad</th>
                        <th>Puntos</th>
                    </tr>
                    foreach (Evento evento in bannerP.eventos)
                    {
                        var puntos = (@evento.puntos == 0) ? " " : @evento.puntos + "";
                        puntos = (@evento.puntos == 0 && @evento.nombre != "") ? "Confirmaste" : puntos;
                        var estilo = (@evento.puntos == 0 && @evento.nombre != "") ? "color:gray!important; font-style: italic!important;" : puntos;
                        <tr style="@estilo">
                            <td style="text-align: center;">@evento.fecha</td>
                            <td style="text-align: start;">@evento.nombre</td>
                            <td style="text-align: center;">&nbsp;@puntos</td>
                        </tr>
                    }
                    <tr dr-not="true" style="border-bottom: 2px solid #d4d4d4!important;">
                        <td style="">
                            <div style="width:100%; display:flex; flex-direction:row; justify-content:flex-start; align-items:center;">
                                <nav style="">
                                    <ul class="pagination" dr-page="1" style="margin-bottom:0px;">
                                        <li data-page="prev" class="page-header">
                                            <span class=""> < <span class="sr-only d-none">(current)</span></span>
                                        </li>

                                        <div>

                                        </div>

                                        <li data-page="next" class="page-item" id="prev">
                                            <span> > <span class="sr-only d-none">(current)</span></span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </td>
                        <td style="text-align: end; font-weight:900;"></td>
                        <td style="text-align: center; font-weight:900;">
                            <div style="position:relative;">
                                <span id="txtImporteCargo1" class="d-lg-block total" style="position:absolute;top:0px;">Total: @string.Format("{0:#,0}", bannerP.puntos)</span>
                            </div>
                        </td>
                    </tr>
                }
            </table>

            <!--		Start Pagination -->
            @if (bannerP.estatus > 0)
            {

            }

            @if (bannerP.estatus > 0) {
                <script type="text/javascript">
                    //debugger;
                    getPagination('#table-id');
                </script>
            }

        </div>
    </div>
    <div class="row justify-content-between" style="height:220px;">
        <div class="col-md-12">
            <style>
                .truncate {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                .weight300 {
                    font-weight:300;
                }

                .weight900 {
                    font-weight:900;
                }


                #demo img{
                    width:100%;
                    height: 100%;
                    object-fit:fill;
                }
                .banner-info {
                    position: absolute;
                    bottom: 0px;
                    width:100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items:center;
                    height: inherit;
                }
                #demo .banner-info > * {
                    color:white;
                }
                #demo .task-icon-wrapper {
                    display:flex;
                    flex-direction: row;
                    align-items:center;
                    
                }
                #demo .task-icon-wrapper img {
                    width:32px;
                    height:32px;
                }
                #demo .task-icon-wrapper div {
                    margin-left: 5px;
                }
                .height-inherit {
                    height:inherit;
                }

                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                  height: 100px;
                  width: 50px;
                  outline: black;
                  background-size: 100%, 100%;
                  /*border-radius: 50%;
                  border: 1px solid black;*/
                  background-image: none;
                }

                .carousel-control-next-icon:after
                {
                  content: '>';
                  font-size: 55px;
                  color: white;
                }

                .carousel-control-prev-icon:after {
                  content: '<';
                  font-size: 55px;
                  color: white;
                }



            </style>
            <div id="demo" class="carousel slide" data-ride="carousel" style="background-color:red;">
                <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev" style="justify-content: flex-start;">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color:#C00000;background-color: black; opacity: 1;"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#demo" role="button" data-slide="next" style="justify-content: flex-end;">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="color:#C00000;background-color: black; opacity: 1;"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-inner" style="background-color: green;">
                    <!-- Carousel Eventos -->
                    @foreach (banner panelP in bannerP.getBanners())
                    {


                        <div class="carousel-item @(activo ? "active" : "")" style="background-color: blue;">
                            <img class="d-none d-lg-block" src="~/Content/images/@panelP.imagen" style="z-index:1!important; ">
                            <img class="d-block d-lg-none" src="~/Content/images/@panelP.imagen" style="z-index:1!important; object-fit:cover;">
                            <div class="d-lg-none" style="position:absolute; right:16px; top:16px; background-color:#C00000; color:white; z-index:2;">
                                <a class="aRegistro" href="#" data-toggle="modal" data-target="#registroModal"
                                   data-url="@panelP.url" data-confirmacion="@panelP.registro" 
                                       data-usrasistentes="@panelP.asistentesUsr" data-asistente="@panelP.asistentes" 
                                       data-idevento="@panelP.idEvento" data-nombrevent="@panelP.nombre"
                                       data-idUsr="@idUsr"
                                   style="color:white; padding-right:16px; padding-top:8px; padding-bottom:8px; padding-left:8px;"><u>Confirma Aquí</u></a>
                            </div>
                            <div style="position:absolute; bottom:0px; z-index:2; width:100%; height: 40px;">
                                <img src="~/Content/images/baner_inferior.png" style="z-index: 2; opacity: 0.95; padding:0px; filter: alpha(opacity=95);" />
                                <div class="banner-info">
                                    <div class="d-lg-none" style="width:49%;"><div class="truncate">@panelP.nombre</div></div>
                                    
                                    <div class="d-lg-none" style="width:49%;">
                                        <div class="task-icon-wrapper" style="width:100%;">
                                            <img src="~/Content/images/calendario (1).png" />
                                                <div style="display:inline; width:calc(100% - 32px);" class="truncate">@panelP.fecha</div>
                                        </div>
                                    </div>

                                    <div class="d-none d-lg-block"><div>@panelP.nombre</div></div>

                                    <div class="d-none d-lg-block">
                                        <div class="task-icon-wrapper">
                                            <img src="~/Content/images/calendario (1).png" />
                                            <div>@panelP.fecha</div>
                                        </div>
                                    </div>
                                    
                                    <div class="task-icon-wrapper d-none d-lg-block"><img src="~/Content/images/localizador-de-lugar.png" /><span>@panelP.lugar</span></div>
                                    
                                    
                                    <a class="aRegistro d-none d-lg-block" data-toggle="modal" data-target="#registroModal" 
                                       data-url="@panelP.url" data-confirmacion="@panelP.registro" 
                                       data-usrasistentes="@panelP.asistentesUsr" data-asistente="@panelP.asistentes" 
                                       data-idevento="@panelP.idEvento" data-nombrevent="@panelP.nombre"
                                       data-idUsr="@idUsr"
                                       style="cursor: pointer;">Registrate aquí</a>
                                </div>
                            </div>
                        </div>
                        activo = false;
                    }
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top:1em;">
    <div class="row">
        
        @{ int aux = -1; } 

        <div class="col-9 col-lg-10">
            <div class="row">
                @foreach (recompensa recompensa in bannerP.recompensas)
                {
                    aux++;

                    <div class="@(aux != 3 ? "col-4" : "d-none d-lg-block") col-lg-3" style="cursor:pointer; height:135px;">
                        <div class="card height-inherit">
                            <div class="container height-inherit" id="PENDIENTE" style="padding-right:0px; padding-left:0px;">
                                <div class="overlay">
                                    <div class="text" style="width:74%; height:30%">@recompensa.descripcion</div>
                                </div>
                                <img class="cardo" style="width:100%;" src="~/Content/images/@recompensa.imagen" alt="Card image cap">
                                <!--<img class="d-lg-none" style="width:100%; height:auto;" src="~/Content/images/@recompensa.imagen" alt="Card image cap">-->
                                <img class="banInfImg" src="~/Content/images/baner_producto.png" style="height:50px; width:100%; position:absolute; left:0px; bottom:0px; z-index: 2; opacity: 0.8;filter: alpha(opacity=80);" />
                                
                                <div class="d-lg-none" style="position:absolute;right:0px; bottom:0px; display:flex; flex-direction:row; justify-content: center; align-items:center; width:100%;">
                                    <div class="" style="display:flex; flex-direction:column; align-items:center;">
                                        <span class="puntosPrd" style="z-index:2; color:white; font-weight:900;">@recompensa.puntos</span>
                                        <span class="puntosPrd" style="color: white; font-weight:900; z-index:2;">puntos</span>
                                    </div>
                                </div>

                                <div class="d-none d-lg-flex" style="position:absolute;right:0px; bottom:0px; display:flex; flex-direction:row; justify-content: space-around; align-items:center; width:100%;">
                                    <span class="nombrePrd" style="color:white; z-index:3;">@recompensa.nombre</span>
                                    <div style="display:flex; flex-direction:column; align-items:center; width:initial;">
                                        <span class="puntosPrd" style="z-index:2; color:white; font-weight:900;">@recompensa.puntos</span>
                                        <span class="puntosPrd" style="color: white; font-weight:900; z-index:2;">puntos</span>
                                    </div>
                                    <!--<span>Se ve cuando es grande</span>-->
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-3 col-lg-2">
            <div class="card">
                <div class="container" style="padding-right:0px; padding-left:0px;">
                    <a href="@pathCatalogoH" download>
                        <img class="d-none d-lg-block" src="/Content/images/catalogo.jpg" alt="Card image cap" style="width: 100%; height: 135px;" height="122">
                        <div class="d-block d-lg-none" style="width:100%; height:135px; background-color:gray;">
                            <img src="/Content/images/downArrow.png"  style="width: 50%;margin: 20%;"/>
                            <span style="color:white; font-weight:900; text-decoration:none;font-size: .8em;margin-left: 10px;margin-right: 10px;display: flex;">Catálogo completo</span>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="col-md-3 mb-3" style="padding-right:1px!important; padding-left:1px!important;">
            </div>-->
        </div>
        


        <!--<div class="col-3" style="background-color:blue;">asdsa</div>
        <div class="col-3" style="background-color:green;">asdas</div>
        <div class="col-3" style="background-color:yellow;">asdsad</div>-->

        

    </div>
    <div class="row d-flex d-lg-none">
        <div class="col-12">
            <div style="height:2em;"></div>
        </div>
    </div>

    
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="myFormulario" onsubmit="cambiarContra(event)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraeña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nueva contraseña</label>
                            <input type="password" class="form-control" id="password1" minlength="6" required placeholder="Nueva contraseña">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Repetir contraseña</label>
                            <input type="password" class="form-control" id="password2" minlength="6" required placeholder="Confirmar nueva contraseña">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Cambiar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/Usuario/Confirmar">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelConfirmar">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center" style="margin: 0px">
                        <div class="row col-md-6" id="sinUrlSiNo">
                            <div class="col-md-4">
                                <input hidden id="idEvent" name="idEventoF" />
                                <h5 style="margin-left: -18px!important;">Asistiré: </h5>
                            </div>
                            <div class="col-md-2" style="margin-left: -10px; margin-top: 3px;">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" name="checkSi">
                                    <label class="custom-control-label" for="customRadio1">Sí</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" name="checkNo">
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-6" id="sinUrl">
                            <div class="col-md-6">
                                <h5 ">Acompañantes: </h5>
                            </div>
                            <div class="col-md-5" style="margin-left: 16px;" id="inpAsistentes">
                                <input value="@idUsr" name="idUsr"  hidden/>
                                @Html.TextBoxFor(m => m.asistentes, new { id = "asistentesModal", @class = "form-control", @type = "number", @max = "3", @min = "0", @name = "asistentes", @value = "0" })
                            </div>
                        </div>
                        <div class="row col-md-12" id="conUrl">
                            <div class="col-md-12">
                                <h5 id="lblRegistroText">Para completar tu registro responde estas preguntas: </h5>
                            </div>
                            <div class="col-md-12" style="margin-right: 10px;" id="inpAsistentes">
                                <input value="@idUsr" name="idUsr" hidden />
                                <a id="linkUrl" href="" target="_blank">Click Aqui!</a>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" id="btnGuardarRegistro" class="btn btn-primary">Guardar</button>
                    <button type="button" id="btnFinalizar" class="btn btn-secondary" data-dismiss="modal">Finalizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var user_name = "@idUsr";
</script>