@using DotechRewards.Models;
@model DotechRewards.Models.Evento
@{
    ViewBag.Title = "AdminEven";
    int exitos = ViewBag.exitoso;
    string user = "";
    int adminFlg = -1;
    AdminModel admin = null;
    try{
        user = HttpContext.Current.Session["nombre"].ToString();
        adminFlg = Convert.ToInt32(HttpContext.Current.Session["admin"].ToString());
        admin = new AdminModel();
        admin.getEventos();
    }catch (Exception ex)
    {
        { Response.Redirect("~/"); }
    }finally
    {
        if (adminFlg != 1) {
            { Response.Redirect("~/Usuario"); }
        }
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/js/eventos.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<link href="~/Content/css/card.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/global.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<nav class="navbar navbar-light nav-propierties justify-content-between">
    <img src="~/Content/images/login_reward.png" width="190" height="80" class="d-inline-block align-top" alt="" style="margin:0px;padding-left:18px;">
    <ul class="nav navbar-nav navbar-fixed-top" style="font-weight:normal;">
        <li><a style="font-size: 20px; margin-right: 18px;">@user</a></li>
        <div class="d-flex justify-content-end" style="margin-left: -120px;">
            <li><a href="@Url.Action("Index","Usuario")" class="span-menu" style="margin-right:30px;">Cambiar a vista de usuario</a></li>
            <a href="@Url.Action("LogOff","Home")"><span class="span-menu span-menu--black"> Salir</span></a>
        </div>
    </ul>
</nav>

<div class="row justify-content-center" style="margin: 5px">
    <div class="col-md-2 menu-conteiner">
        <nav class="navbar bg-light navbar-light" style="margin-left: -18px; margin-right: 22px; margin-top: -5px;">
            <ul class="navbar-nav" style="margin-left: -18px; margin-right: 22px; margin-top: -5px;">
                <li class="nav-item">
                    <a class="nav-link active menu-item-font" href="AdminUsr">
                        <i style="display:inline-block;" class="fas fa-user"></i>
                        <h3 style="display:inline-block;">&nbsp&nbspUsuario</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active menu-item-font" href="AdminEven">
                        <i style="display:inline-block;" class="fas fa-birthday-cake"></i>
                        <h3 style="display:inline-block;">&nbsp&nbspEventos</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active menu-item-font" href="AdminCat">
                        <i style="display:inline-block;" class="fas fa-shopping-cart"></i>
                        <h3 style="display:inline-block;">&nbspCatálogos</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active menu-item-font" href="AdminPrin">
                        <i style="display:inline-block;" class="fas fa-tasks"></i>
                        <h3 style="display:inline-block;">&nbspAsistencia</h3>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="col-md-10">
        <div class="row justify-content-start" style="margin: 5px">
            <div class="col-md-12">
                <div class="row justify-content-start" style="margin: 5px">
                    <div class="col-md-2">
                        <h3 style="margin-left: 90px;">Evento: </h3>
                    </div>
                    <div class="col-md-3" style="margin-left:20px;">
                        <input type="text" class="form-control" onkeyup="myFunction()" id="myInput">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 5px">
            <div class="col-md-12">
                <table class="table table-sm" style="margin-left: 30px;" id="myTable">
                    <thead style="display: block;">
                        <tr>
                            <th scope="col" width="200px" style="text-align: center">Evento</th>
                            <th scope="col" width="210px" style="text-align: center">Lugar</th>
                            <th scope="col" width="170px" style="text-align: center">Fecha y Hora</th>
                            <th scope="col" width="60px" style="text-align: center">Confirmados</th>
                            <th scope="col" width="60px" style="text-align: center">No asistirán</th>
                            <th scope="col" width="60px" style="text-align: center">Acompañantes</th>
                            <th scope="col" width="140px" style="text-align: center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="display: block; height: 368px; overflow-y: auto; overflow-x: hidden;">
                        @foreach (Evento evento in admin.eventos)
                        {
                        <tr>
                            <td width="230px" style="text-align: center">@evento.nombre</td>
                            <td width="180px" style="text-align: center">@evento.lugar</td>
                            <td width="200px" style="text-align: center">@evento.fecha</td>
                            <td width="125px" style="text-align: center">@evento.confirmados</td>
                            <td width="125px" style="text-align: center">@evento.no_asistira</td>
                            <td width="145px" style="text-align: center">@evento.acompañantes</td>
                            <td width="130px" style="text-align: center">
                                <div class="row">
                                    <button type="button" class="btnEditE button-edit" data-id="@evento.idEvento" data-confirmacion="@evento.confirmacion" data-nombre="@evento.nombre" data-puntos="@evento.puntos"
                                            data-lugar="@evento.lugar" data-fecha="@evento.fecha" data-asistentes="@evento.asistentes" data-image="@evento.imagen"
                                            data-urle="@evento.url" data-confirmados="@evento.confirmados" data-toggle="modal" data-target="#EventModal">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button data-toggle="tooltip" title="Eliminar" type="button" class="btnDelE button-edit" data-id="@evento.idEvento">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button data-toggle="tooltip" title="Descargar lista de asistencia" type="button"
                                            class="btnDownE" data-id="@evento.idEvento" onclick="window.location.href='/AdminEven/DescargarListaGeneric?idEvento=@evento.idEvento'" formtarget="_blank">
                                        <i class="fas fa-file-download"></i>
                                    </button>
                                </div>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-start" style="margin: 5px">
            
                <div class="col-md-10">
                    @using (Html.BeginForm("SubirLista", "AdminEven", FormMethod.Post, new { id = "AddEventos", enctype = "multipart/form-data" }))
                    {
                        <div class="row justify-content-start" style="margin: 10px">
                            <div class="col-md-6">
                                @Html.TextBox("Lista_asis", "", new { @class = "form-control-file", type = "file", id = "Lista_asis" })
                            </div>
                            <div class="col-md-4" style="margin-left:0px;">
                                <button id="btnListaGuardar" type="submit">Subir Lista</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-end" style="margin: 10px">
                        <div class="col-md-4">
                            <div style="float: right;">
                                <button id="btnAddE" class="btn btn-link add-button" data-toggle="modal" data-target="#EventModal">
                                    <i class="fas fa-plus-circle" style="font-size: 45px !important;color:green;float: right;" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    <footer></footer>

</div>
<!-- Modal -->
<div class="modal fade" id="EventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddEvento", "AdminEven", FormMethod.Post, new { id = "AddEvento", enctype = "multipart/form-data" }))
                {
                    @Html.TextBoxFor(m => m.idEvento, new { @id = "idEventoM", @type = "hidden", @name = "idEventoM" })

                <div class="form-row">
                    <!--col 12-->
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Nombre Evento:</label>
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.TextBoxFor(m => m.nombre, new { id = "nombre", @class = "form-control", @type = "text", required = "required" })
                    </div>
                    <div class="col-md-1 mb-3">
                        <label for="validationCustom01">Puntos:</label>
                    </div>
                    <div class="col-md-3 mb-3">
                        @Html.TextBoxFor(m => m.puntos, new { id = "puntos", @class = "form-control", @type = "number", @min = "1", required = "required" })
                    </div>
                    <!--col 12-->
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom01">Lugar:</label>
                    </div>
                    <div class="col-md-5 mb-3">
                        @Html.TextBoxFor(m => m.lugar, new { id = "lugar", @class = "form-control", @type = "text", required = "required" })
                    </div>
                    <div class="col-md-1 mb-3">
                        <label for="validationCustom01">Fecha:</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.TextBoxFor(m => m.fecha, new { id = "fecha", @class = "form-control", @type = "datetime-local", required = "required" })
                    </div>
                    <!--col 12-->
                    <div class="col-md-4 mb-3">
                        <label>Necesita Confirmación: </label>
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.CheckBoxFor(m => m.confirmacion, new { id = "confirmacionEven", @class = "form-check-input", @style = "margin:initial; position:initial;", @type = "checkbox", })
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Acompañantes: </label>
                    </div>
                    <div class="col-md-1 mb-3">
                        <input type="checkbox" id="confirmacionAcom" class = "form-check-input" style = "margin:initial; position:initial;" disabled = "disabled">
                    </div>
                    <div class="col-sm-3 mb-3">
                        @Html.TextBoxFor(m => m.asistentes, new { id = "cantidadPersonas", @class = "form-control", @min = "0", @type = "number", disabled = "disabled", required = "required" })
                    </div>
                    <!--col 12-->
                    <div class="col-md-4 mb-3">
                        <label>Link Confirmación: </label>
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.CheckBoxFor(m => m.confirmacion, new { id = "confirmacionLink", @class = "form-check-input", @style = "margin:initial; position:initial;", @type = "checkbox" })
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.TextBoxFor(m => m.url, new { id = "urlConfirmacion", @class = "form-control", @type = "url", disabled = "disabled", required = "required" })
                    </div>
                    <!--col 12-->
                    <div class="col-md-2 mb-3">
                        <label>Imagen: </label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.imagen, new { id = "edtFoto", type = "hidden" })
                            @Html.TextBox("Foto_Camp", "", new { @class = "form-control-file", type = "file", accept = "image/jpeg", id = "Foto_Camp", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <img id="previewImg" src="" alt="Preview de la Imagen" height="50" width="240" />
                    </div>
                    <!--col 12-->
                    <div id="descList" class="form-row col-md-12">
                        <div class="col-md-3 mb-3">
                            <label id="h5confirmados"> Confirmado(s)</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a id="downloadLista" target="_blank" href="@Url.Action("DescargarLista","AdminEven", new { idEvento = 10})" style="font-size:20px;">
                                <i class="fas fa-file-download"></i>Descargar Lista de Confirmación
                            </a>
                        </div>
                        <div class="col-md-3 mb-3">

                        </div>
                    </div>

                </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnGuardar" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                }


            </div>
        </div>
     </div>
</div>
<script>
    if ('@exitos' === '1') {
        Swal.fire(
            'Cargado',
            'El archivo se ha cargado correctamente',
            'success'
        ).then((result) => {
            window.location.href = "/AdminEven"
        });
    } else if('@exitos' === '0') {
        Swal.fire(
            'Error en archivo',
            'Revisa los valores dentro del archivo',
            'warning'
        ).then((result) => {
            window.location.href = "/AdminEven"
        });
    }
    function myFunction() {
        // Declare variables 
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
<!-- /Modal -->
